*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .amazon-logo{
    padding: 10px;
} */

/* .location-container{
    padding: 10px;
} */
.dotin{
    position: relative;
    margin-left: -2px;
    margin-top: -5px;
}
.location-text{
    font-size: 14px;
}
.button-color-serach{
    color: black;
    background-color: #f3a847;
}

.caret-icon{
    font-size: 12px;
}
.country-lang{
    font-size: 12px;
}
.country-section{
    padding: 8px;
}
.sign-in-container{
    font-size: 14px;
    /* padding: 10px; */
}
.return-details-section{
    font-size: 14px;
    /* padding: 10px; */
}
.cart-icon{
    font-size: 30px;
    color: rgb(248, 84, 24);
}
/* .cart-container{
    padding: 10px;
} */
.cart-text{
    font-size: 14px;
}
.amazon-logo:hover,
.location-container:hover,
.country-setionc:hover,
.sign-in-container:hover,
.return-details-section:hover,
.cart-container:hover
{
    border: 1px solid orange; 
}
.menu-container{
    
    background-color: #232f3e;
}
.menu-container-text{
    font-size: 14px;
}

.menu-bar i{
    padding-right: 5px;
    font-size: 15px;
}
.container-hov:hover{
    border: 1px solid orange;
}

/* navbar styling */
.nav-bar-item{
    font-size: 13px;
    margin: 2px;
}
.nav-bar-item:hover{
    border: 1px solid orangered;
}
/* cards-styling */
.card-text{
    padding-top: 5px;
}
.footer-content{
    padding: 50%;
}
/* Navbar offcanvas style */
.offcanvas-dody-text{
    padding: 10px;
    margin-left: 24px;
}
.offcanvas-text-style{
    font-size: 16px;
}
/* Footer style */
.footer-style{
    font-size: 12px;
}
.footer-content{
    background-color: #293546;
    font-size: 14px;
}
.backtotop-style{
    background-color: #314152;
    font-size: 13px;
}
.font-style-footer-content{
    font-size: 16px;
}

/* NEWLY ADDED LOGIN PAGE FROM ICUBE CODE PRACTICE AMAZON PROJECT */

/* Login-Page-Styleing */
.logo-image{
    height: 58px;
    width: 120px;
    padding-top: 0px;
    padding-bottom: 5px;
}
.container1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-container{
    margin-top: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 7px;
    border-width: .5px;
    width: 350px;
    padding: 18px 20px;
    box-shadow: 0px 0px 2px hwb(0 80% 19%);

}
.form-container h1{
    font-size: 26px;
    font-weight: 200;
    padding-bottom: 8px;
}
/* .container2{
    border: 5px;
    color: black;
} */
.details{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-text-box{
    border: 0.5px solid;
    border-color: #c2bfbf;
    padding: 7px;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.input-text-box:focus{
    border: 0.2px solid;
    border-color: #c2bfbf;
    box-shadow: 0px 0px 8px hwb(199 36% 0%);
    background: rgb(248, 253, 255);
}

.button-div{
    margin-top: 10px;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}
.button-div button{
    border: none;
    flex-grow: 1;
    background-color: #ffda05;
    padding: 8px 125px;
    border-radius: 8px;
}

.button-div button:hover{
    background-color: #ffbc03;
}
.input-label{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.para{
    font-size: 12px;
    display: flex;
    flex-wrap: 1;
    padding: 15px 0px;
}
.para span{
    color: #4242fc;
}

/* help-section style using div */

/* 

.help{
    display: flex;
    gap: 10px;
}
.help-section {
    display: flex;
    padding: 10px 0px 10px 0px;
    color: #4242fc;
    font-size: 12px;
    text-decoration: none;
}
.help i{
    color: black;
}
.help-section-text a{
    text-decoration: none;
    color: #4242fc;
} 
.help-section-ulist li{
    list-style: none;
    margin: 8px 0px 0px 0px;
}

.help-section-text ul{
    display: none;
    flex-direction: column;
}
.help-section-text:active{
    .help-section-text ul {
        display: flex;
    }
}

.help-section-ulist li a{
    padding: 20px 20px 0px 0px;
    text-decoration: none;
    color: #4242fc;
} 

*/
.help-section-container{
    color: #4242fc;
    font-size: 12px;
}

.help-section-details{
    line-height: 20px;
    padding: 8px 14px;
}

.help-section-text:hover{
    color: #b63c0c;
    text-decoration: underline;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddddd;
}

.card-inside-bottom-section{
    padding-top:  16px;
}
.card-inside-bottom-section h4{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 8px;
}
.card-inside-bottom-section a{
    font-size: 12px;
    color: #4242fc;
    text-decoration: none;
}
.card-outside-line{
    display: flex;
    width: 350px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: rgb(117, 117, 117);
    padding-top: 25px;
    gap: 8px;
}
.line1{
    height: 0.5px;
    width: 120px;
    background: #cfcfcf;
}
.card-outside-line p{
    padding-top: 20px;
    font-size: 12px;
    color: #9c9c9c;
}
.card-outside-line span{
    color: #dfdddd;
}
.card-bottom-button-div{
    margin-top: 20px;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-self: center;
    color: black;
    border-radius: 10px;
    margin-bottom: 45px;
}
.card-bottom-button-div button{
    padding: 6px 86px;
    border-style: solid;
    border-width: .5px;
    background-color: white;
    border-color: #ddd9d9;
    border-radius: 5px;
    box-shadow: 0px 0px 2px hwb(0 78% 21%);

}
.card-bottom-button-div button:hover{
    background-color: rgb(245, 245, 245);
}
.help-section a:hover,
.para span:hover,
.card-inside-bottom-section a:hover{
    color: #b63c0c;
    text-decoration: underline;
}

.sign-in-page-footer{
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e6e6e6;
    border-bottom: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    box-shadow: 0px 0px 2px hwb(0 87% 13%);

}
.conditions-style-login{
    padding-top: 10px;
    color: #4242fc;
}
.login-published-text{
    color: #8a8a8a;
}
/* update on home sign-in button to open sign-in page */
.home-sign-text{
    color: white;
    text-decoration: none;
}